extends layout

block content
  h1= title
  p LocalLibrary へようこそ。これは、Mozilla Developer Network のチュートリアル例として開発された、非常に基本的なウェブサイトです。

  h1 コンテンツ

  p 図書館には以下のそれぞれの数のコンテンツがあります

  ul
    li #[strong 書籍:] !{book_count}
    li #[strong コピー:] !{book_instance_count}
    li #[strong コピー入手可能:] !{book_instance_available_count}
    li #[strong 著者:] !{author_count}
    li #[strong ジャンル:] !{genre_count}
